:root {
    --primary: #fa980f;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5; 
    --white: #FFFFFF;
    --frontEnd: #1692ce;
    --backEnd: #f13a3a;
}